name: "Publish GitHub Action"
on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: tgymnich/publish-github-action@v1.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
